html,body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.head{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
}
#main-section{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 70%;
  height: 100%;

}
.checkbox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.modal{
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  animation-name: modalopen;
  animation-duration: 2s;
}
.modal-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #f4f4f4;
  margin: 14% auto;
  padding: 20px;
  width: 30%;
  height: 40%;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.2);
}
.read,
.delete{
  width: 10%;
  height: 30%;
  color: rgb(255,255,255);
  background-color: rgb(0,0,0);
  border: none;
  font-size: 100%;
  transition: 0.4s;
}
#books-list{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.bookInfoContainer{
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 100%;
  align-items: center;
}
.bookInfoProperties{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 50%;
  align-items: flex-end;
  font-size: 200%;
  border-bottom: 1px solid rgb(0,0,0);
}
button{
  width: 25%;
  height: 30%;
  color: rgb(255,255,255);
  background-color: rgb(0,0,0);
  border: none;
  font-size: 150%;
  transition: 0.4s;
}
button:hover{
  background-color:rgb(255,255,255);
  color: rgb(0,0,0);
  cursor: pointer;
}
@@keyframes modalopen {
  from{opacity: 0}
  to{opacity: 1}
}
